.CompactCard {
    display: flex;
    border-radius: 0.7rem;
    color: white;
    position: relative;
    cursor: pointer;
  }
  .CompactCard:hover {
    box-shadow: none !important;
  }


  /* sideDetail*/
  .detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  .detail > span:nth-child(2) {
    font-size: 22px;
    font-weight: bold;
  }
  .detail > span:nth-child(3) {
    font-size: 12px;
  }

  /* ExpandedCard */
  .ExpandedCard {
    position: absolute;
    width: 50%;
    height: 70vh;
    z-index: 9;
    left: 15rem;
    bottom: 3.2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color:#e2dfdc;
  }
  .ExpandedCard > span:nth-of-type(1) {
    color: #061254;
    font-size: 42px;
    font-weight: bold;

  }


  .video-responsive iframe{

    height: 400px;
    width: 600px;
    border: 1px solid black;
    border-radius: 1rem;
  }

  @media screen and (max-width: 1200px) {
    .ExpandedCard {
      top: 10rem;
      height: 45vh;
      left: 12rem;
    }
    .video-responsive iframe{

      height: 400px;
      width: 400px;
      border-radius: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    .ExpandedCard {
      top: 8rem;
      height: 50%;
      left: 35px;
      width: 80%;
    }
    .video-responsive iframe{

      height: 200px;
      width: 300px;
      border-radius: 1rem;
    }
  }
