:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.048);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}


.App {
  /* padding: 0.5rem 3.5rem; */
  color: var(--black);
  background: linear-gradient(
    106.37deg,
    #061254 29.63%,
    #4A5A94 55.55%,
    #061254 90.85%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.AppGlass {
  display: grid;
  height: 92%;
  width: 92%;
  background: var(--glass);
  border: 1px solid rgba(71, 71, 71, 0.411);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 6rem  auto;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .AppGlass{
    grid-template-columns: auto;
  }
}



::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */

}

::-webkit-scrollbar-track {
  background:  #f8d83731;    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid white;  /* creates padding around scroll thumb */
}